:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--color-background);

	--color-primary: #DFD0B8;
	--color-secondary: #948979;
	--color-background: #373b41;
	--color-surface: #222831;
	--color-error: #b00020;
	--color-on-primary: #ffffff;
	/* for text/icons on primary background */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}

a:hover {
	/* color: #535bf2; */
}

body {
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-width: 320px;
	/* min-height: 100vh; */
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}


.flex {
	--gap: 2rem;
	display: flex;
}

.flex.gap {
	gap: var(--gap);
}

.flex.row {
	flex-direction: row;
	flex-wrap: wrap;
}

.flex.col {
	flex-direction: column;
	flex-wrap: wrap;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.block {
	margin: 2rem 0;
	padding: 0 2rem;
}

.margin-vertical {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.margin-top {
	margin-top: 1rem;
}

.button {
	color: var(--color-primary);
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-surface);
	cursor: pointer;
	transition: border-color 0.25s;
}

.button:disabled {
	opacity: 0.8;
	cursor: auto;
}

.button:hover:not(:disabled) {
	border-color: #646cff;
}

.button:active:not(:disabled) {
	outline: 4px auto -webkit-focus-ring-color;
}

button {
	justify-content: center;
}

button>span[class^="material-symbols"] {
	padding: 0.5rem;
}

button:has(span.material-icons):active:not(:disabled) {
	/* background-color: #b00020; */
}

.shadow-click {
	position: relative;
	z-index: 1;
}

button.shadow-click::after {
	--size: 2px;
}

.popup-close span.shadow-click::after {
	--size: 6px;
}

.shadow-click::after {
	content: '';
	position: absolute;
	--size: 0px;
	top: calc(-1 * var(--size));
	left: calc(-1 * var(--size));
	width: calc(100% + 2 * var(--size));
	height: calc(100% + 2 * var(--size));
	border-radius: 2rem;
	background-color: rgba(0, 0, 0, 0.25);
	opacity: 0;
	transition: opacity 150ms;
	pointer-events: none;
	z-index: -1;
}

.shadow-click:hover:not(:disabled)::after {
	opacity: 1;
}

.shadow-click:active:not(:disabled)::after {
	opacity: 0.7;
}

.success {
	--color: lawngreen;
}

.failure {
	--color: orangered;
}

.color {
	color: var(--color);
}

.bg-color {
	background-color: var(--color);
}

.filled[class^="material-symbols"] {
	font-variation-settings:
		'FILL' 1,
		/* Fill the icon (1 = filled, 0 = outlined) */
		'wght' 400,
		/* weight */
		'GRAD' 0,
		/* grade */
		'opsz' 48;
	/* optical size */
}