:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--color-background);

	--color-primary: #DFD0B8;
	--color-secondary: #948979;
	--color-background: #373b41;
	--color-surface: #222831;
	--color-error: #b00020;
	--color-on-primary: #ffffff;
	/* for text/icons on primary background */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}

a:hover {
	/* color: #535bf2; */
}

body {
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-width: 320px;
	/* min-height: 100vh; */
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}


.flex {
	display: flex;
}

.flex.gap {
	--gap: 2rem;
	gap: var(--gap);
}

.flex.row {
	flex-direction: row;
}

.flex.col {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.block {
	margin: 2rem 0;
	padding: 0 2rem;
}

.margin-vertical {
	margin-top: 2rem;
	margin-bottom: 2rem;
}